{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Willy Bolsas</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body class="fundo-azul">

    <div class="container-centralizado">
        <div class="cartao-login">
            <div class="cabecalho-logo">
                <div class="bolinha-laranja"></div>
                <h1 class="titulo-marca">Willy<span class="texto-azul-claro">Bolsas</span></h1>
                <p class="subtitulo">Acesso ao Painel Administrativo</p>
            </div>

            <form class="formulario" method="POST" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="grupo-entrada">
                    <label class="etiqueta" for="id_matricula">ID DO USUÁRIO</label>
                    <input type="text" class="campo-texto" id="id_matricula" name="matricula_digitada" placeholder="ex: 00123" required autocomplete="off">
                    <span class="hint-id" id="hint-id-valido"></span>
                </div>

                <input type="hidden" id="id_username" name="username">

                <div class="grupo-entrada">
                    <label class="etiqueta" for="id_password">SENHA</label>
                    <input type="password" class="campo-texto" id="id_password" name="password" placeholder="........" required>
                </div>

                <button type="submit" class="botao-entrar">ENTRAR NO SISTEMA</button>
            </form>

            <!-- Div de Erro para o JS usar -->
            <div id="erro-id" style="display: none; margin-top: 15px; color: #DC2626; background-color: #FEF2F2; padding: 10px; border-radius: 8px; font-size: 13px; text-align: center;">
                ID não encontrado no sistema.
            </div>

            {% if form.errors %}
            <div style="margin-top: 15px; color: #DC2626; background-color: #FEF2F2; padding: 10px; border-radius: 8px; font-size: 13px; text-align: center;">
                Credenciais inválidas.
            </div>
            {% endif %}

            <div class="rodape-creditos">
                <p>AugustoFrank Tech Solutions © 2026</p>
                <p>Hospedagem Cloud Locaweb</p>
            </div>
        </div>
    </div>

    <script src="{% static 'js/scripts/login/login.js' %}" defer></script>
</body>
</html>